@charset "UTF-8";

/* 광고/제휴문의 뷰페이지 */
.advertise-area {width:100%; text-align: left;}
.advertise{width:100%; margin-top:10px; position: relative;}
.advertise > input[type=text]{
	width:100%; height:100%; padding:4px 8px; background-color:#fff;
	border:1px solid #ddd; font-size:1.5em; 
}
.advertise > ul {width:100%; margin-top:10px;}
.advertise > ul li{float:left; padding-right:40px; text-indent:3px; margin-bottom:10px;}
.advertise > ul li:last-child{padding-right:0px;}
.advertise > ul li > i{font-weight:350; padding-right:5px;}
.advertise .edit{width:100%; height:500px; margin-top:20px; background-color: #fff; padding:8px;}
.advertise > input[type=submit]{
	display:block; width:220px; height:45px; margin:0 auto; 
	margin-top:20px; text-decoration:none; font-weight:600; 
	border:1px solid #ccc; border-radius:2px; background:#f7f7f7; text-shadow:none; 
	font-size:13px; line-height:normal; cursor:pointer; outline:0; 
}








