@charset "UTF-8";

.headerDrop {
  display: inline;
  margin: 0;
  padding: 0;
}

.headerLI{display: inline-block;}

.headerLI:hover {
/* 	background: #ddd; */
}

.headerLI:hover .headerDown {
	display: block;
}

.headerDown{
	
/*   position: absolute; */
/*   width: 200px; */
/*   display: none; */
  
    display: none;
    position: absolute;
    background-color: #ecedf0;
    min-width: 160px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 2;

}

.login{
  
/*   background: #ddd;  */
  display: block; 
	
}

.login a {	
	display:block !important;
	padding: 16px 16px;	
}

/* .login :hover {background: #ddd;} */